.preloader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__up{
    width: 100px;
    height: 100px;
    animation: preloader 2s infinite;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes preloader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}